<!doctype html>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport'>

<title>{{page.name}} &mdash; {{wiki.name}}</title>
<link href='/skin/default.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Copse|Open+Sans:400,400i,600,600i' rel='stylesheet'>

<main>
  {{{body}}}
</main>

<nav>
  <!-- TODO: make this configurable -->

  <header>{{wiki.name}}</header>

  <ul>
    <li><a href='/main'>
      Main page
    </a></li>
  </ul>

  <section>
    <h4>Section</h4>

    <ul>
      <li><a>link</a></li>
      <li><a>other link</a></li>
      <li><a>etc</a></li>
    </ul>
  </section>

  <section>
    <h4>Other Section</h4>

    <ul>
      <li><a>link</a></li>
      <li><a>other link</a></li>
      <li><a>etc</a></li>
    </ul>
  </section>
</nav>

<script src='/skin/default.js'></script>
