<!doctype html>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport'>

<title>{{page.name}} &mdash; {{wiki.name}}</title>
<link href='/skin.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Copse|Open+Sans:400,400i,600,600i' rel='stylesheet'>

<main>
  {{{body}}}
</main>

<nav>
  <!-- TODO: make this configurable -->

  <header>{{wiki.name}}</header>

  <a href='/main'>
    Main page
  </a>

  <section>
    <h4>Section</h4>
    <a>link</a>
    <a>other link</a>
    <a>etc</a>
  </section>

  <section>
    <h4>Other Section</h4>
    <a>link</a>
    <a>other link</a>
    <a>etc</a>
  </section>
</nav>

<script src='/skin.js'></script>
