<!doctype html>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport'>

<title>{{page.name}} &mdash; {{wiki.name}}</title>
<link href='/skin/default.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Copse|Open+Sans:400,400i,600,600i' rel='stylesheet'>

<main>
  {{{page.body}}}
</main>

<nav>
  <header><a href='/{{page.language}}/'>{{wiki.name}}</a></header>

  <ul>
    {{#wiki.links}}
      <li><a href='{{1}}'>
        {{0}}
      </a></li>
    {{/wiki.links}}
  </ul>

  {{#wiki.navigation}}
    <section>
      <h4>{{0}}</h4>

      <ul>
        {{#1}}
          <li><a href='/{{page.language}}/{{1}}'>{{0}}</a></li>
        {{/1}}
      </ul>
    </section>
  {{/wiki.navigation}}

  {{#wiki.hasOtherLanguages}}
    <section>
      <h4>In Other Languages</h4>

      <ul>
        {{#wiki.languages}}
          <li><a href='/{{1}}/{{page.what}}'>{{0}}</a></li>
        {{/wiki.languages}}
      </ul>
    </section>
  {{/wiki.hasOtherLanguages}}
</nav>

<script src='/skin/default.js'></script>
